body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    position: relative;
}

.logo {
    width: 100px;
    margin: 20px auto;
}

.social-links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.social-links a img {
    width: 24px; /* Fixe la largeur à 24px */
    height: 24px; /* Fixe la hauteur à 24px */
}

h1 {
    color: #333;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tweets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
}

.tweet {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tweet img {
    max-width: 100%;
    border-radius: 8px;
}

.tweet p {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
}

footer.tweet-footer {
    background-color: #fff;
    color: #555;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
}
